/* =========== Google Poppins font link ============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ======== Google Poppins font link ============*/
/* ============ Common CSS ==================== */
:root {
  --primary-color: #1c1e53;
  --primary-font-color: #282938;
  --white-color: #fff;
  --Royal-blue: #2405f2;
  --grey-color: #f4f6fc;
  --yellow-color: #fcd980;
  --accenet-color: #eef4fa;
  /* font weight */
  --font-700: 700;
  --font-600: 600;
  --font-500: 500;
  --font-400: 400;
  /* font size */
  --base-font: 16px;
  --font-size-18: 18px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-48: 48px;
  /* font family */
  --poppins: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--poppins);
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
span {
  display: inline-block;
}
img {
  vertical-align: middle;
}
.sectionTitle {
  font-size: var(--font-size-48);
  color: var(--primary-font-color);
  font-weight: var(--font-600);
  line-height: 64px;
}
.subSectionTitle {
  font-size: 38px;
  font-weight: var(--font-600);
  color: var(--primary-font-color);
  line-height: 56px;
}
.heading_3 {
  color: var(--primary-font-color);
  font-size: var(--font-size-32);
  line-height: 48px;
  font-weight: var(--font-500);
}
.heading_4 {
  font-size: var(--font-size-24);
  color: var(--primary-font-color);
  font-weight: var(--font-500);
  line-height: 36px;
}
.summery {
  font-size: var(--base-font);
  line-height: 28px;
  color: var(--primary-font-color);
  opacity: 0.7;
}
.summeryWhite {
  opacity: 0.7;
  font-size: var(--base-font);
  font-weight: var(--font-500);
  line-height: 24px;
  color: var(--white-color);
}
.customBtn {
  background: transparent;
  color: var(--white-color);
  padding: 16px 48px;
  border: none;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  -moz-border-radius: 48px;
  -ms-border-radius: 48px;
  -o-border-radius: 48px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  font-size: var(--base-font);
  font-weight: var(--font-500);
}
/* ============Common CSS ================ */
/* ***************Navbar section***********************/
.coustomNav {
  background-color: var(--primary-color);
}
.coustomNav a {
  color: #bbbbcb;
}

.navLink {
  font-size: var(--base-font);
  font-weight: var(--font-500);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.navLink:hover {
  color: var(--white-color);
}
nav .customBtn--modify {
  border: 1px solid rgba(244, 246, 252, 0.2);
}
nav .customBtn:hover {
  background: var(--yellow-color);
  color: var(--primary-font-color);
}
/* ***************Navbar section********************** */
/* ***************Hero section********************** */
#heroSection {
  background: var(--primary-color);
  min-height: 100vh;
  color: var(--white-color);
  padding: 200px 0;
}
.heroTitle {
  font-size: 54px;
  font-weight: var(--font-600);
  line-height: 74px;
}

#heroSection .btn-modify {
  border: 1px solid rgba(244, 246, 252, 0.2);
}
#heroSection .customBtn:hover {
  background: var(--yellow-color);
  color: var(--primary-font-color);
}
/* ***************Hero section********************** */

/* *********How We work Section************ */

#about {
  background: var(--grey-color);
  padding: 128px 0;
}
#about .customCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
}
#about .aboutBtn {
  color: var(--Royal-blue);
  font-size: var(--font-size-18);
  font-weight: var(--font-500);
  line-height: 32px;
}
#about .aboutBtn:hover {
  color: var(--primary-color);
}

/* *********How We work Section************ */
/* ******* Our Projects Section ************  */
#projectSection {
  padding: 128px 0;
}
#projectSection .projectSection_viewMore {
  color: var(--primary-font-color);
  font-size: var(--base-font);
  font-weight: var(--font-500);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#projectSection .projectSection_viewMore:hover {
  color: var(--Royal-blue);
}

#projectSection .cardOverly {
  position: absolute;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
  height: 100%;
  color: var(--white-color);
  width: 0;
  opacity: 0;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 16px;
  overflow: hidden;
}
#projectSection .cardOverly h3 {
  font-size: var(--font-size-24);
  font-weight: var(--font-600);
  line-height: 36px;
}
#projectSection .cardOverly p {
  font-size: var(--base-font);
  font-weight: var(--font-500);
  opacity: 0.8;
  line-height: 28px;
}
#projectSection .cardOverly a {
  font-size: var(--base-font);
  font-weight: var(--font-500);
  color: var(--yellow-color);
}
#projectSection .cardOverly a:hover {
  color: var(--Royal-blue);
}
#projectSection .leftCard--modify {
  padding: 40px;
  gap: 16px;
  left: 0;
}
#projectSection .leftCard:hover .cardOverly {
  width: 48%;
  opacity: 1;
}
#projectSection .rightCard--modify {
  padding: 0 56px 48px;
}
#projectSection .rightCard:hover .cardOverly {
  width: 100%;
  opacity: 1;
}
/* ******* Our Projects Section ************  */

/* ******** feature Section ************ */
#features {
  background: var(--grey-color);
  padding: 128px 0;
}
#features .headingPart h2 {
  max-width: 630px;
}
#features .featuresCard {
  background: var(--white-color);
  padding: 58px 32px 48px 48px;
  row-gap: 12px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}
#features .featuresCard:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
#features .featuresCard span {
  color: var(--Royal-blue);
  font-size: var(--font-size-32);
}
#features .featuresCard h4 {
  font-size: var(--font-size-24);
  font-weight: var(--font-500);
  line-height: 36px;
  color: var(--primary-font-color);
}

/* ******** feature Section ************ */

/* ******** client Section ************ */
#client {
  padding: 128px 0;
  background: rgb(244, 246, 252, 0.5);
}
#client .clientName {
  color: var(--primary-font-color);
  line-height: 32px;
  font-weight: 500;
  font-size: var(--font-size-18);
}
#client .clientDesignation {
  font-size: 12px;
  font-weight: var(--font-500);
  color: var(--primary-font-color);
}
/* ******** client Section ************ */
/* ******** FAQ Section ************  */
#FAQ {
  padding: 128px 0;
}
#FAQ .leftFAQ a {
  color: var(--Royal-blue);
}
#FAQ .leftFAQ a:hover {
  color: red;
}
#FAQ .accordiaonNumber {
  color: var(--Royal-blue);
  font-size: var(--font-size-24);
  font-weight: var(--font-500);
  line-height: 36px;
}
#FAQ .customFAQSummery {
  margin: 0 70px;
}
.accordion-button::after {
  flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: url(../images/badge/plus.png);
  background-repeat: no-repeat;
  background-size: var(--bs-accordion-btn-icon-width);
  transition: var(--bs-accordion-btn-icon-transition);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/badge/plus.png);
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
/* ******** FAQ Section ************  */
/* ******** inquary Section ************  */
#inquary .overly {
  padding: 96px 96px 0;
  background: rgba(28, 30, 83, 0.5);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
#inquary .inquaryRight {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 56px 96px 0;
}
.formTitle_modify {
  color: var(--white-color);
}
#inquary .inquaryRight .formInput {
  background: transparent;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  padding: 18px 32px;
  color: rgb(244, 246, 252, 0.5);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
#inquary .inquaryRight .formInput:focus {
  box-shadow: 0px 0px 12px 0rem rgba(13, 110, 253, 0.25);
}
#inquary .customBtn_modify {
  border: 1px solid rgba(244, 246, 252, 0.2);
}
#inquary .customBtn_modify:hover {
  color: var(--primary-font-color);
  background: var(--yellow-color);
}
#inquary .customBtn_nonActive:hover {
  color: var(--yellow-color);
}
/* ******** inquary Section ************  */
/* ******** Blog Section ************  */
#blog {
  padding: 128px 0;
}
#blog .blogCard {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
#blog .blogCard:hover {
  box-shadow: rgba(0, 0, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(2, 2, 228, 0.25) 0px 50px 100px -20px,
    rgba(0, 51, 255, 0.3) 0px 30px 60px -30px;
}
#blog .readMore {
  color: var(--primary-font-color);
  font-size: var(--base-font);
  font-weight: var(--font-500);
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}
#blog .readMore:hover {
  color: var(--Royal-blue);
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
}
/* ******** Blog Section ************  */
/* *************** Footer Section ***************- */
footer .uperSection {
  background: var(--primary-color);
  padding: 100px 0 0;
}
footer .uperSection .footerLeft {
  row-gap: 86px;
}
footer .uperSection .footer {
  background: var(--yellow-color);
  color: var(--primary-font-color);
  padding: 18px 37px;
  gap: 30px;
}
footer .uperSection .footer .email,
footer .uperSection .footer .call {
  font-size: var(--font-size-18);
  font-weight: var(--font-500);
  line-height: 32px;
}
footer .footerRight .footerTile_modify {
  color: var(--white-color);
}
footer .footerRight .social {
  color: var(--white-color);
  cursor: pointer;
}
footer .footerRight .social span {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  padding: 7px 12px;
  border-radius: 50%;
}
footer .footerRight .social span:hover {
  color: var(--primary-font-color);
  background: var(--yellow-color);
  padding: 7px 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
footer .loweSection {
  padding: 32px 0;
}
footer .loweSection .navLink {
  color: var(--primary-font-color);
}
footer .loweSection .navLink:hover {
  color: var(--Royal-blue);
}
/* *************** Footer Section ***************- */
