@media (max-width: 1199.98px) {
  :root {
    /* font size */
    --base-font: 16px;
    --font-size-18: 18px;
    --font-size-24: 22px;
    --font-size-32: 32px;
    --font-size-48: 48px;
  }
  .sectionTitle {
    text-align: center;
  }
  /* ==============Common CSS ==============*/
  /* 
 /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*                  Home page Start              */
  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

  .heroTitle {
    font-size: var(--font-size-48);
    font-weight: var(--font-600);
    line-height: 74px;
  }
  /* ===== common padding ======== */
  #about,
  #features,
  #projectSection,
  #client,
  #FAQ,
  #blog,
  #environment,
  footer .uperSection {
    padding: 80px 0;
  }
  /* ===== common padding ======== */

  #projectSection .rightCard--modify {
    padding: 0 10px 65px;
    text-align: center;
  }
  #inquary .overly {
    padding: 20px 20px 0;
    align-content: center;
    justify-content: center;
  }
  #inquary .inquaryRight {
    padding: 20px 20px 0;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                  Home page End               */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                  About page Start             */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#designSolve .heroTitle {
  font-size: 45px;
}
#team .teamCard {
  padding: 48px 25px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*                  About page End               */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
